<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Marvel Book | {{ titre }} {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('Asset/Logo/Logo-Spider-man.webp') }}">
        {% block stylesheetsCSS %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <a href="{{ path('app_accueil')}}"><img id="logoMarvelBook" src="{{ asset('Asset/Logo/Marvel-Book-logo.webp')}}" alt="Logo MARVEL Book"></a>
                    </div>
                    <div>
                        <a class="btn marvel-font" href="{{ path('app_livre')}}">Les livres</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <div id="utilisateurNonConnecter">
                        <a class="btn marvel-font" id="btnConnexion" href="{{ path('app_connexion')}}">Connexion</a>
                        <a class="btn marvel-font" id="btnInscription" href="{{ path('app_inscription')}}">Inscription</a>
                    </div>
                    <div id="utilisateurConnecter">
                        <a class="btn marvel-font" id="btnProfil" href="/Static/Views/profile.html">Profil</a>
                        <a class="btn marvel-font" id="btnDeconnexion" href="/Index.html">Deconnexion</a>
                    </div>
                </section>
            </nav>
        </header>
        {% block main %}
        
        {% endblock %}
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="{{asset('Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.webp')}}" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="{{ asset('Asset/Img/wolverine-comics.webp')}}" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
</html>
